{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <h3>Registrar no sistema</h3>
                <form action="{{ url_for('register') }}" method="post">
                    <div class="col-sm-12 offse">
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" placeholder="Nome">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" name="last_name" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Senha">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" type="password" name="re_password" placeholder="Confirmar senha">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-group-justified">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}