{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('home') }}">KANBAN</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="">{{ user.username }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Add Line</h3>
                <form action="{{ url_for('add_line', status=status) }}" method="post">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" name="text" placeholder="Text"></textarea>
                        </div>
                    </div>
                    <input type="button" href="{{ url_for('home') }}" class="btn btn-default" value="Cancel">
                    <input type="submit" class="btn btn-primary pull-right" value="Add">
                </form>
            </div>
        </div>
    </div>
{% endblock %}