{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-6" style="padding: 0; width: 50% ;height: 100%;">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                {% block form %}
                {% endblock %}
            </div>
        </div>

        <div class="col-sm-6"
             style="background-color: #d43f3a; padding: 0; width: 50% ;height: 100%; position: absolute; right: 0">

            <h1>K A N B A N</h1>

        </div>
    </div>

{% endblock %}