{% extends 'base.html' %}
{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            TO DO
                            <a href="{{ url_for('task_new', status='todo') }}"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for task in todo %}
                            {% include 'task_show.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            DOING
                            <a href="{{ url_for('task_new', status='doing') }}"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for task in doing %}
                            {% include 'task_show.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            DONE
                            <a href="{{ url_for('task_new', status='done') }}"><span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for task in done %}
                            {% include 'task_show.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}